<div class="header-container">
  <div class="left-section">
    <mat-icon class="icon-buttons" (click)="setPage('home')">home</mat-icon>
    <mat-icon class="icon-buttons" (click)="setPage('smithing')">construction</mat-icon>
  </div>
  <div class="right-section">
    <div class="testing-toggle">
      <label>
        <input type="checkbox" [checked]="!isTestingMode" (change)="toggleTestingMode()" />
        Testing Mode
      </label>
    </div>
    <span class="welcome-text">Welcome, Hero</span>
    <button class="logout-button">Logout</button>
  </div>
</div>
