<div class="item-tooltip">
  <div class="tooltip-row title" [ngStyle]="{color: item.color}">
    {{ item.name }}<span *ngIf="item.reinforceLevel && item.reinforceLevel > 0"> +{{ item.reinforceLevel }}</span>
  </div>
  <div class="tooltip-row item-level-color">Item Level {{itemLevel}}</div>
  <div *ngIf="!showPercents">
    <div *ngFor="let line of item.tooltipLines">
      <div class="aside-text-container">
        <div class="tooltip-row" *ngFor="let str of line">{{str}}</div>
      </div>
    </div>
  </div>
  <div *ngIf="showPercents">
    <div *ngFor="let line of item.altTooltipLines">
      <div class="aside-text-container">
        <div class="tooltip-row" *ngFor="let str of line">{{str}}</div>
      </div>
    </div>
  </div>
  <div *ngFor="let stat of ['Strength', 'Stamina', 'Agility', 'Intellect', 'Spirit']">
    <div *ngIf="item.getStatValue(stat) > 0" class="tooltip-row">
      +{{ item.getStatValue(stat) }} {{ stat }}
      <span *ngIf="showPercents" class="stat-roll">({{ item.getStatPercent(stat) }}%)</span>
    </div>
  </div>

  <div class="tooltip-row quality-row">Quality: {{ item.averagePercent }}%</div>
</div>
