<div>
  <div class="combat-container">
    <div class="combat-section player-section">
      <div class="name">{{ playerName }}</div>
      <img class="item-picture" src="/assets/images/player.jfif" alt="player">
      <div class="health-text">{{ playerCurrentHP }} / {{ playerMaxHP }}</div>
      <div class="health-bar">
        <div class="red-bar" [style.width]="playerHealthPercentage + '%'"></div>
      </div>
      <div class="mana-bar">
        <div class="blue-bar" [style.width]="playerManaPercentage + '%'"></div>
      </div>
      <div class="health-text">{{ playerCurrentMana }} / {{ playerMaxMana }}</div>
    </div>

    <div class="combat-section attack-section">
      <div class="attack-list">
        <div *ngFor="let attack of recentAttacksDisplay; let i = index" [class.fade-out]="i >= 5" class="attack-entry">
          <div class="left-column">
        <span *ngIf="attack.source === 'player'" class="damage" [ngClass]="{'dodge': attack.damage === 0, 'crit': attack.wasCrit}">
          {{ attack.damage === 0 ? 'Dodge!' : (attack.wasCrit ? attack.damage + '!' : attack.damage) }}
        </span>
            <span *ngIf="attack.source === 'monster'" class="arrow">→</span>
          </div>
          <div class="right-column">
        <span *ngIf="attack.source === 'monster'" class="damage" [ngClass]="{'dodge': attack.damage === 0, 'crit': attack.wasCrit}">
          {{ attack.damage === 0 ? 'Dodge!' : (attack.wasCrit ? attack.damage + '!' : attack.damage) }}
        </span>
            <span *ngIf="attack.source === 'player'" class="arrow">←</span>
          </div>
        </div>
      </div>
    </div>

    <div class="combat-section monster-section">
      <div class="name">{{ monsterName }}</div>
      <img class="item-picture"
           src="/assets/images/{{ monsterImage }}.jfif"
           [ngStyle]="{'border': '10px solid ' + monsterBorderColor}"
           alt="{{monsterImage}}">
      <div class="health-bar">
        <div class="red-bar" [style.width]="monsterHealthPercentage + '%'"></div>
      </div>
      <div class="health-text">{{ monsterCurrentHP }} / {{ monsterMaxHP }}</div>
      <div class="health-text">Level {{ monsterLevel }}</div>
    </div>
  </div>
  <div class="rewards">
    <div class="quarters bestiary-section">
      <app-player-bestiary></app-player-bestiary>
    </div>
    <div class="quarters">
      <app-item-filter></app-item-filter>
    </div>
    <div class="quarters" *ngIf="playerCurrentHP <= 0">
      <span>You lose! Click to try again.</span>
      <button (click)="retry()">Try Again</button>
    </div>
    <div class="quarters" *ngIf="monsterCurrentHP <= 0">
      <span>You win! Here's your prize.</span>
      <div class="rewards" *ngIf="rewardItem && !combatActive">
        <div>
          <app-inventory-slot [item]="rewardItem"></app-inventory-slot>
          <div>
            <button (click)="equip()">Equip</button>
            <button (click)="discardForSkill()">Discard to get skill point</button>
          </div>
          <app-tooltip [item]="rewardItem" [showPercents]="showPercents"></app-tooltip>
        </div>
        <div *ngIf="rewardEquivalent">
          Current Item in Slot:
          <app-inventory-slot [item]="rewardEquivalent"></app-inventory-slot>
          <app-tooltip [item]="rewardEquivalent" [showPercents]="showPercents"></app-tooltip>
        </div>
      </div>
    </div>
  </div>
</div>
